.establishments-header {
	margin: 1rem 0;
	text-align: center;
}

.filter-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	gap: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	background-color: var(--bg);
	border-radius: 1rem;
	box-shadow: var(--shadow-s);
}

.filter-bar span {
	font-weight: 500;
	color: var(--text);
}

.filter-bar select {
	appearance: none;
	background-color: var(--bg-light);
	color: var(--text);
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: var(--shadow-s);
}

.filter-bar select:focus {
	outline: none;
	border-color: var(--primary);
}

.load-more-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.load-more-btn {
	background-color: var(--bg-light);
	border: 1px solid var(--secondary);
	padding: 0.75rem 2rem;
	border-radius: 2rem;
	font-weight: 600;
	color: var(--primary);
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: var(--shadow-s);
}

.load-more-btn:hover {
	background-color: var(--bg);
	transform: translateY(-2px);
	box-shadow: var(--shadow-m);
}
