.establishments-header {
	margin: 1rem 0;
	text-align: center;
}

.filter-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	gap: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	padding: 1rem 2rem;
	background-color: var(--bg);
	border-radius: 2rem;
	box-shadow: var(--shadow-s);
	transition: box-shadow 0.2s ease;
}

.filter-bar:hover {
	box-shadow: var(--shadow-m);
}

.filter-bar span {
	font-weight: 500;
	color: var(--text);
}

.rating-filter-container {
	position: relative;
	display: flex;
	align-items: center;
}

.rating-filter {
	appearance: none;
	background-color: var(--bg-light);
	color: var(--text);
	padding: 0.5rem 2rem 0.5rem 1rem;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	box-shadow: var(--shadow-s);
	transition: box-shadow 0.2s ease;
}

.rating-filter:hover {
	box-shadow: var(--shadow-m);
}

.select-icon {
	position: absolute;
	right: 0.5rem;
	color: var(--text);
	pointer-events: none;
}

.load-more-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.load-more-button {
	background-color: var(--bg-light);
	border: 1px solid var(--secondary);
	padding: 0.75rem 2rem;
	border-radius: 2rem;
	font-weight: 600;
	color: var(--primary);
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: var(--shadow-s);
}

.load-more-button:hover {
	background-color: var(--bg);
	transform: translateY(-2px);
	box-shadow: var(--shadow-m);
}
