.review-item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--bg);
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	box-shadow: var(--shadow-s);
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.review-item:hover {
	transform: translateY(-4px);
	box-shadow: var(--shadow-l);
}

.restaurant-image-container {
	width: 100%;
	height: 12rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.restaurant-img {
	height: auto;
	object-fit: cover;
}

.review-item-content {
	padding: 0 1rem 1rem 1rem;
	margin-top: -1rem;
	position: relative;
	z-index: 1;
}

.review-item-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 0.25rem;
}

.review-meta {
	font-size: 0.85rem;
	color: var(--text-muted);
	margin-bottom: 0.5rem;
}
