footer {
  background: linear-gradient(
    to bottom,
    var(--bg-dark) 0%,
    var(--bg) 15%,
    var(--bg) 100%
  );
  color: var(--text-muted);
  padding: 2rem;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--primary);
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-logo {
  width: 32px;
  height: 32px;
}

.dark-only {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-only {
    display: none;
  }
  .dark-only {
    display: block;
  }
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap: 0.5rem; /* Slightly smaller gap since they are stacked */
  }

  .footer-links a {
    padding: 0rem; /* Increases the clickable area (touch target) */
  }
}
