.app-container {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);
}

main {
	padding: 1.5rem;
	width: 100%;
	max-width: 100rem;
	margin: 0 auto;
}

.reviewHeader {
	margin: 1rem 0;
	text-align: center;
}

.reviewContainer {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 20rem);
	gap: 1rem;
	justify-content: center;
}

/* --- Responsive (mobile) --- */
@media (max-width: 768px) {
	.reviewContainer {
		grid-template-columns: 1fr;
	}
}
