.app-container {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);
}

main {
	padding: 1.5rem;
	width: 100%;
	max-width: 100rem;
	margin: 0 auto;
}
