:root {
	color-scheme: light dark;

	--bg-dark: light-dark(oklch(0.92 0.02 280), oklch(0.15 0.02 280));
	--bg: light-dark(oklch(0.96 0.02 280), oklch(0.2 0.02 280));
	--bg-light: light-dark(oklch(0.98 0.02 280), oklch(0.25 0.02 280));

	--text: light-dark(oklch(0.15 0 0), oklch(0.96 0 0));
	--text-muted: light-dark(oklch(0.4 0 0), oklch(0.76 0 0));
	--text-on-primary: oklch(0.2 0.02 280);

	--primary: oklch(0.75 0.15 85);
	--secondary: oklch(0.75 0.02 280);

	--danger: light-dark(oklch(0.5 0.18 25), oklch(0.7 0.15 25));
	--warning: light-dark(oklch(0.5 0.18 100), oklch(0.7 0.15 100));
	--success: light-dark(oklch(0.5 0.18 160), oklch(0.7 0.15 160));
	--info: light-dark(oklch(0.5 0.18 260), oklch(0.7 0.15 260));

	--shadow-s:
		inset 0 1px 2px oklch(1 0 0 / 18.82%), 0 1px 2px oklch(0 0 0 / 18.82%),
		0 2px 4px oklch(0 0 0 / 8.24%);
	--shadow-m:
		inset 0 1px 2px oklch(1 0 0 / 31.37%), 0 2px 4px oklch(0 0 0 / 18.82%),
		0 4px 8px oklch(0 0 0 / 8.24%);
	--shadow-l:
		inset 0 1px 2px oklch(1 0 0 / 43.92%), 0 4px 6px oklch(0 0 0 / 18.82%),
		0 6px 10px oklch(0 0 0 / 8.24%);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Google Sans', sans-serif;
	line-height: 1.5;
	color: var(--text);
	background-color: var(--bg-light);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

input,
button,
textarea,
select {
	font: inherit;
}
